:root {
  --mainFont: 'Catamaran', sans-serif;
  --mainText: #44b6e3;
  --hoverBackground: #3287a8;
  --textHover: #baebff;
  --mainDark: #3a3e3b;
  --mainTransition: 0.3s all ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
}

section {
  overflow: hidden;
}

body {
  font-family: var(--mainFont);
}
/* Global styles */

.backdrop {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  z-index: 200;
  display: none;
}

.backdrop__visible {
  display: block;
}

.highlighted {
  color: var(--mainText);
  text-shadow: -2px -2px 14px var(--mainText);
}

.arrow {
  width: 35px;
  height: 35px;
  border-top: 5px solid var(--hoverBackground);
  border-right: 5px solid var(--hoverBackground);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 95%;
  transition: var(--mainTransition);
}

.arrow:hover {
  transform: scale(1.5) rotate(45deg);
}

.content-divider {
  height: 3vh;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--hoverBackground)),
    color-stop(#096386),
    to(var(--mainDark))
  );
  background: linear-gradient(
    to right,
    var(--hoverBackground),
    #096386,
    var(--mainDark)
  );
}

i {
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.follow-me i {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.follow-me a:hover,
.follow-me a:active {
  outline: 0;
  opacity: 1;
}

.follow-me {
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.follow-me ul {
  list-style: none;
  text-align: center;
}

.facebook {
  display: inline-block;
  color: #003d99;
  opacity: 0.6;
  background: white;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.github {
  display: inline-block;
  color: rgb(14, 17, 17);
  opacity: 0.7;
  background: white;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.linkedin {
  display: inline-block;
  color: #0f67eb;
  background: white;
  opacity: 0.6;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

/* Header styling */

.main-header {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    ),
    url(./Images/background.jpeg) no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.navbar-items {
  position: fixed;
  top: 0;
  right: 0;
  list-style: none;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  z-index: 100;
}

.navbar-item:last-child {
  margin-right: 2rem;
}

.navbar-item a {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--mainText);
  font-weight: 700;
  text-shadow: -2px -2px 14px var(--mainText);
  border-radius: 0.5rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.navbar-item a:hover,
.navbar-item a:focus,
.navbar-item a:active {
  outline: 0;
  background-color: var(--hoverBackground);
  color: var(--textHover);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px 3px var(--hoverBackground);
}

.header-content__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-content__title {
  padding-bottom: 1.7rem;
  color: white;
  font-size: 2.3rem;
  letter-spacing: 2px;
}

.header-content__subtitle {
  padding-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
}

.header-content__btn {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: white;
  background: #096386;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 7px 3px #096386;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header-content__btn:hover,
.header-content__btn:active,
.header-content__btn:focus {
  opacity: 0.5;
  outline: none;
  border-radius: 1rem;
}

/* End of Header styling */

/* Skills and Education styling */

.skills-education__section {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./Images/skills&education-bg.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Images/skills&education-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.skills-article {
  width: 100%;
  height: 50%;
}

.skills-title {
  position: relative;
  top: 0;
  left: 5%;
  padding-top: 2rem;
  margin-bottom: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
}

.main-skills__wrapper {
  text-align: center;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.single-skill__wrapper {
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.single-skill__wrapper i:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.skill-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1rem;
  color: white;
  text-shadow: -2px -2px 14px var(--mainText);
}

.html-skill {
  background: #ed4832;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px 3px #ed4832;
}

.css-skill {
  background: #3ba2ca;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px 3px #29637a;
}

.sass-skill {
  background: #fc95c2;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px 3px #fc95c2;
}

.js-skill {
  background: #f7ac2a;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px 3px #f7ac2a;
}

.education__article {
  height: 50%;
  width: 100%;
}

.education-title {
  position: relative;
  top: 0;
  left: 5%;
  padding-top: 2rem;
  margin-bottom: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
}

.education__wrapper {
  text-shadow: -2px -2px 14px var(--mainText);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.high-school__faculty {
  font-size: 1.7rem;
  padding-bottom: 2rem;
}

.education__wrapper p {
  color: white;
}

/* End of skills styling */

/* about */

.about {
  width: 100vw;
  height: 100vh;
  background: rgba(58, 62, 59, 1);
}

.about-me__wrapper {
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.about-img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

.about-me__text {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 2rem 0;
  max-width: 50%;
  text-align: left;
}

.contact-me__section {
  height: 60vh;
  width: 50vw;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  z-index: 300;
  display: none;
  animation: fade 0.7s ease-out forwards;
}

.contact-section__visible {
  display: block;
}

.contact-title {
  position: relative;
  top: 0;
  left: 5%;
  padding-top: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: black;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.input label,
.input input,
.input textarea {
  display: block;
}

.input {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  line-height: 3rem;
}

#input-name {
  width: 100%;
  height: 4vh;
}

#input-mail {
  width: 100%;
  height: 4vh;
}

#input-message {
  width: 100%;
  height: 10vh;
}

.btn__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  padding: 0.5rem 2rem;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin-top: 1rem;
  margin-right: 0.5rem;
  background: var(--mainDark);
  cursor: pointer;
  border-radius: 14px;
}

.cancel-button {
  padding: 0.5rem 2rem;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin-top: 1rem;
  background: var(--mainDark);
  cursor: pointer;
  border-radius: 14px;
}

.submit-button:focus,
.cancel-button:focus {
  outline: none;
}

.aditional-info {
  width: 100vw;
  height: 20vh;
  background: rgb(44, 44, 44);
  text-align: center;
}

.icons {
  color: white;
  margin-top: 1rem;
}

.aditional-icons {
  width: 50%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 auto;
}

.icon-text {
  color: white;
}

.icon-text:nth-of-type(1) {
  font-size: 1.4rem;
}

.icon-text:nth-of-type(2) {
  font-size: 1.1rem;
  padding-top: 0.8rem;
}

/*  small screens */

@media (min-width: 300px) and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  /* Header styling */

  .navbar-items {
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .navbar-item a {
    font-size: 1.3rem;
  }

  .navbar-item:last-child {
    margin: 0;
  }

  .header-content__wrapper {
    width: 100vw;
  }

  .header-content__title {
    margin: 0 auto;
    max-width: 80%;
    font-size: 3rem;
    letter-spacing: 0.5px;
  }

  .header-content__subtitle {
    margin: 0 auto;
    max-width: 80%;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
  }

  .header-content__btn {
    font-size: 2rem;
    letter-spacing: 0;
    font-weight: 500;
  }

  /* End of header Styling */

  /* Skills styling */

  .skills-education__section {
    height: 100vh;
  }

  .skills-title {
    position: static;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
  }

  .skills-article {
    height: 30vh;
  }

  .main-skills__wrapper {
    font-size: 1.2rem;
  }

  .education__article {
    height: 70vh;
  }

  .education-title {
    position: static;
    padding: 0;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 5rem;
  }

  .education__wrapper {
    font-size: 1.8rem;
    height: calc(100% - 100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-around;
  }

  .high-school__faculty {
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }

  .high-school-name {
    max-width: 50%;
    margin: 0 auto;
  }

  .high-school-profile {
    margin-top: 1rem;
  }

  .about-img {
    width: 100px;
    height: 100px;
  }

  .about-me__text {
    max-width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-form {
    width: 80%;
  }

  .input {
    width: 100%;
    font-size: 1.8rem;
  }

  #input-name {
    width: 100%;
  }

  #input-mail {
    width: 100%;
  }

  #input-message {
    width: 100%;
  }

  .submit-button {
    font-size: 1.8rem;
  }

  .aditional-info {
    height: 16vh;
    overflow: hidden;
  }

  .aditional-icons {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
  }

  .icon-text:nth-of-type(2) {
    font-size: 1.3rem;
  }
}

/* End of small screens */

@media (min-width: 501px) and (max-width: 900px) {
  html {
    font-size: 50%;
  }

  .skills-title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .education-title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .high-school__faculty {
    padding: 0.5rem;
  }

  .about-img {
    width: 50px;
    height: 50px;
  }

  .about-me__text {
    max-width: 80%;
    font-size: 1.2rem;
    padding-bottom: 0;
  }

  .contact-title {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .contact-form {
    height: 50vh;
  }

  #input-message {
    height: 20vh;
  }

  #input-name {
    height: 5vh;
  }

  #input-mail {
    height: 5vh;
  }

  .aditional-info {
    height: 21vh;
  }

  .icon-text:nth-of-type(2) {
    padding: 0;
    font-size: 1.2rem;
  }
}

@media (min-width: 901px) and (max-width: 1399px) {
  html {
    font-size: 100%;
  }

  .contact-form {
    width: 70vw;
  }

  #input-name {
    width: 100%;
  }

  #input-mail {
    width: 100%;
  }

  #input-message {
    width: 100%;
  }

  .submit-button {
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .aditional-icons {
    height: 100%;
    width: 70vw;
  }

  .education__wrapper p {
    font-size: 1.6rem;
  }
}

.page-wrapper__visible {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
